.DS_Store
/Manifest.toml
/dev/
*.png

*.aux
*.log
*.pdf
*.fdb_latexmk
*.fls
*.synctex(busy)
*.txt
*.csv
/Images Float Error
/Old Tests and Images
/test/dataanalysis.jl
/Data Analysis Plots
/Poster Images