.DS_Store
/Manifest.toml
/dev/
*.png

*.aux
*.log
*.pdf
*.fdb_latexmk
*.fls
*.synctex(busy)
*.txt
*.csv
/test/dataanalysisoriginal.jl
!/**/obstacle files/*.txt
Performance notes.jl

/Images Float Error
/Old Tests and Images
/Data Analysis Plots
/Poster Images
/Presentation Images
/Experiments