.DS_Store
/Manifest.toml
/dev/
*.png

*.aux
*.log
*.pdf
*.fdb_latexmk
*.fls
*.synctex(busy)
/Images Float Error
*.txt
!Biclique Cover Merging Stats.txt
!Solve Time Stats *.txt
Solve Time Stats 2 *.txt